{% extends 'blog/base.html' %}

{% block content %}
    <h1>Acerca de mi</h1>
    <p>Bienvenido/a a ProDental Blog. Este es un sitio creado para protesistas dentales donde pueden publicar sus trabajos, compartir ideas, resolver dudas y mantenerse actualizados en el campo de la prótesis dental.</p>
    <p>Nuestro objetivo es crear una comunidad en línea donde los protesistas dentales puedan interactuar, aprender unos de otros y mejorar sus habilidades profesionales.</p>
    <p>Te invitamos a unirte a nuestra comunidad y ser parte de este espacio dedicado a la prótesis dental.</p>
    <p>Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto con nosotros a través de nuestro correo electrónico: prodental@pipomail.com</p>
{% endblock %}
