{% extends 'blog/base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <!-- Aquí va el contenido principal -->
        <!-- ... -->
    </div>
    <div class="col-lg-4">
        <!-- Side widgets -->
        <!-- ... -->
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <!-- Aquí va el contenido de la sección de noticias -->
        <h2>Noticias</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Agregar Noticia</button>
        </form>

        {% for noticia in noticias %}
            <h3>{{ noticia.titulo }}</h3>
            <p>{{ noticia.descripcion }}</p>
            {% if noticia.imagen %}
                <img src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}">
            {% endif %}
            <!-- Mostrar otros detalles de la noticia, como el autor, fecha, etc. -->
        {% endfor %}
    </div>
    <div class="col-lg-4">
        <!-- Otros widgets a la derecha si los tienes -->
    </div>
</div>
{% endblock %}

